<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/games">
    <i class="fas fa-stream"></i>
    Cartridge Recall
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-text text-light">
        <em>the premier cataloging app for your games!</em>
      </li>
    </ul>
    
    <form id="gameSearch" class="form-inline" action="/games/search" method="GET">
      <div class="input-group mx-2">
        <input class="form-control" name="query" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    
    <div class="btn-group nav-item mt-2 mt-lg-0">
      <a class="btn btn btn-outline-secondary" href="#">Login</a>
      <a class="btn btn btn-outline-secondary" href="#">Signup</a>
    </div>
  </div>
</nav>