<h1>Games Wishlist!</h1>
<form action="/search" method="GET">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>


<h2>Current Restrictions</h2>
<ul>
  <li><em>Currently only searchable with names</em></li>
  <li><em>First 100 results only</em></li>
  <li><em>Restricting to Nintendo Switch for now</em></li>
</ul>


<!-- Wishlist populated from database. -->
<ul>
  <% wishlist.forEach(function(wishlist){ %>
  
    <li>
      <form action="/wishlist/<%= wishlist._id %>?_method=DELETE" method="POST">
        <a href=<%= wishlist.gbLink %>>
          <%= wishlist.name %> - <%= wishlist.deck %>
        </a>
        <button name ="removeGame">Remove</button>
      </form>
    </li>
    
  <% }) %>
</ul>