<h1>Games Wishlist!</h1>

<form action="/search" method="GET">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>
<ul>
  <li><em>Currently only searchable with names</em></li>
  <li><em>First 100 results only</em></li>
  <li><em>Restricting to Nintendo Switch for now</em></li>
</ul>

<ul>
  <% wishlist.forEach(function(wishlist){ %>
  
    <li>
      <a href=<%= wishlist.gbLink %>>
        <%= wishlist.name %> - <%= wishlist.deck %>
      </a>
    </li>
    
  
  <% }) %>
</ul>