<% include ./partials/header %>

<div class="container" id="wishlist">
  <h2>Search Results</h2>
  <% data.results.forEach(function(element){ %>
    <% link = element.site_detail_url.slice(0, element.site_detail_url.indexOf("release")) %>
    
    <div class="card">
      <div class="list-group-item list-group-item-action list-group-item-light">
        
        <form action="/wishlist" method="POST">
          <button class="btn btn-link text-success"
                  name="gameAPIurl"
                  value=<%= element.api_detail_url %>>
            <i class="fas fa-plus"></i>
          </button>
        
          <a class="btn btn-link text-muted" href="<%=link%>">
            <strong><%= element.name %></strong>
          </a>
          
          <p class="release text-muted"><em>March 31st, 2018</em></p>
        
        </form>
      </div>
    </div>
  <% }) %>
</div>

<% include ./partials/footer %>