<h1>Results</h1>

<ol>
  <% data.results.forEach(function(element){ %>
    <% link = element.site_detail_url.slice(0, element.site_detail_url.indexOf("release")) %>
    
    <li><%= element.name %> <a href=<%= link %>>Db Link</a></li>
  <% }); %>
</ol>