<% include ./partials/header %>

<h1>Results</h1>
<ol>
  <% data.results.forEach(function(element){ %>
    <% link = element.site_detail_url.slice(0, element.site_detail_url.indexOf("release")) %>
    
    <li>
      <form action="/wishlist" method="POST">
        <button name ="gameAPIurl" 
                value=<%= element.game.api_detail_url %>>Add</button>
        <%= element.name %> <a href=<%= link %>>Db Link</a>
      </form>
    </li>
  <% }); %>
</ol>

<a href="/">Go Back</a>

<% include ./partials/footer %>