
/*NavBar Styling*/

.navbar-brand {
  font-family: 'Carter One', cursive;
}

/*Restriction Alert Styling*/

#collapseRestrictions {
  opacity: 1;
  text-align: center;
}

#collapseRestrictions ul {
  list-style: none;
}

/*List Styling*/
#gameList {
  padding-top: 10px;
}
.card {
  margin-bottom: 10px;
}

.release {
  float: right;
}

.img-thumbnail {
  height: 80px;
  width: 80px;
}