
/* NavBar Styling */

.navbar-brand {
  font-family: 'Carter One', cursive;
}

/* Platform Button Styling */

.PSactive {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.Xactive {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.SwActive {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* List Styling */

#gameList {
  padding-top: 10px;
}
.card {
  margin-bottom: 10px;
}